<!-- START HEADER -->
<header class="header_wrap fixed-top">
  <div class="container-fluid" id="home">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand page-scroll" href="https://htu.io/" target="_blank"><img class="logo_htu" src="assets/images/htu_logo.svg" alt="logo-htu" /></a>
        <a class="navbar-brand page-scroll" routerLink="/home" routerLinkActive=""><img class="logo_icon" src="assets/images/ICTE_base_logo.svg" alt="logo" /> </a>
      <div class="menu_bar">
        <div class="bt-menu"><span></span><span></span><span></span></div>
      </div>
      <div id="menu_mobile" class="navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link page-scroll active"  routerLink="/home" routerLinkActive="/home#">Home</a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link page-scroll"  routerLink="/example" routerLinkActive="/example#">Example</a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link page-scroll" (click)="scrollToContact()">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- END HEADER -->

