<footer>
  <div class="bottom_footer" id="contact">
    <div class="container-fluid">
      <div class="row">
        <div id="share" class="col-lg-6 col-md-12 col-sm-12 center-block">
          <span>Follow us on</span>
          <ul class="list_none footer_social">
            <li><a href="https://www.twitter.com/ictepanama/" target="_blank"><img src="assets/images/twitter.png" /></a></li>
            <li><a href="https://www.instagram.com/ictepanama/" target="_blank"><img src="assets/images/instagram.png" /></a></li>
            <li><a href="https://www.facebook.com/ICTE-Panama-501723930231100/" target="_blank"><img src="assets/images/facebook.png" /></a></li>
            <li><a href="https://www.linkedin.com/company/icte/" target="_blank"><img src="assets/images/linkedin.png" /></a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 center-block" id="footer-logo"> 
          <p class="copyright">
            <span>&copy; 2018-2019 All Rights Reserved.</span> 
            <a href="https://htu.io/" target="_blank">htu.io</a>
            <a href="https://icte.io/" target="_blank"> <img src="assets/images/logo-footer_v3.png"/></a>
          </p>
          <div class="contain-popup-footer">
            <img src="assets/images/icte-base-repo.svg">
            <p>A916C7F7986541A9A5BE5DC4D0804127</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
