footer {
  background: #ffffff;
  color: #fff;
}

.bottom_footer {
  padding: 20px 0;
}

.copyright {
  font-size: 14px;
  line-height: 36px;
  color: #2d2d2d;
  margin: 0;
}

.copyright span {
  cursor: pointer;
  position: relative;
}

.copyright a {
  color: #1d1d1d;
}

#footer-link {
  padding-top: 5px;
}

#footer-link a {
  color: #1d1d1d;
  font-size: 14px;
  line-height: 36px;
}

#footer-link img {
  width: 36px;
  margin-left: 0px;
  margin-top: -5px;
}

#footer-logo {
  text-align: right;
  padding-top: 5px;
}

#footer-logo img {
  width: 90px;
  margin-left: 5px;
  margin-top: -8px;
}

.contain-popup-footer {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(64, 64, 64, 0.3);
  text-align: center;
  padding: 10px 5px;
  width: 220px;
  position: absolute;
  top: -215px;
  left: 50px;
  right: 0;
  margin: 0 auto;
  display: none;
}

.contain-popup-footer:after {
  content: "";
  position: absolute;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  margin-top: 0;
  background: #fff;
  border: 1px none rgba(102, 102, 102, 0.2);
  border-right-style: solid;
  border-bottom-style: solid;
}

#footer-logo .contain-popup-footer img {
  width: 140px;
  margin: 0 0 10px 0;
}

#footer-logo .contain-popup-footer p {
  margin-bottom: 0;
  font-size: 9px;
  line-height: 16px;
}

#footer-logo .contain-popup-footer p.meta-date {
  font-size: 12px;
}

.contain-popup-footer.active-qrcode {
  display: block;
}

@media only screen and (max-width: 1024px) {
  footer {
    font-size: 12px !important;
  }
  #footer-logo img {
    width: 100px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .contain-popup-footer {
    left: -30%;
  }
}

@media only screen and (max-width: 991px) {
  #footer-logo,
  #footer-link {
    text-align: center !important;
  }
  .contain-popup-footer {
    left: 0;
  }
}
