<footer>
  <div class="bottom_footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12" id="footer-link">
          <a href="https://www.linkedin.com/company/icte/" target="_blank">LinkedIn Page<img
            src="assets/images/Logo-LinkedIn-Footer.svg"/></a>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12"></div>
        <div class="col-lg-4 col-md-12 col-sm-12" id="footer-logo">
          <p class="copyright"><span>&copy; 2018-2019 All Rights Reserved </span> <a class="color-white"
                                                                                     href="#">htu.io</a> <a
            href="https://icte.io/" target="_blank"><img src="assets/images/icte-logo.svg"/></a></p>

          <div class="contain-popup-footer">
            <img src="assets/images/icte-base-repo.svg">
            <p>FD2F5CF688D24BEFA631F2838B1A58B3</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Quantcast Tag -->
  <script type="text/javascript">
    var _qevents = _qevents || [];

    (function () {
      var elem = document.createElement('script');
      elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
      elem.async = true;
      elem.type = "text/javascript";
      var scpt = document.getElementsByTagName('script')[0];
      scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push({
      qacct: "p-fACntv8XmThCZ"
    });
  </script>

  <noscript>
    <div style="display:none;">
      <img alt="Quantcast" border="0" height="1" src="//pixel.quantserve.com/pixel/p-fACntv8XmThCZ.gif" width="1"/>
    </div>
  </noscript>
  <!-- End Quantcast tag -->

</footer>
