.action-example {
  padding:30px !important;
  background:#706F8E !important;
  margin-top:110px !important;
}

.action-example p {
  color:#fff !important;
  margin-bottom:0 !important;
  margin-left:10% !important;
  font-size:14px !important;
}
